<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>242091631777-movu6j6pk033mo8m6ac23i3ief18lsbi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.242091631777-movu6j6pk033mo8m6ac23i3ief18lsbi</string>
	<key>API_KEY</key>
	<string>AIzaSyDbu_r80kaktHuKNuEz3mfvC-TIX63WEj0</string>
	<key>GCM_SENDER_ID</key>
	<string>242091631777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newMiniCasino</string>
	<key>PROJECT_ID</key>
	<string>mini-casino-8ee0f</string>
	<key>STORAGE_BUCKET</key>
	<string>mini-casino-8ee0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242091631777:ios:7d0ee1e5dfd701d01b3ce0</string>
</dict>
</plist>